<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Course Information</title>
</head>
<body>
	<h1>Choose one of the following options</h1>
	
	<br/>
	
	<h2>Show All Courses:</h2>	
	<form action="#" th:action="@{/courseList}" method="get">
		<span><input type="submit" th:value="Click" /></span>
	</form>

    <br/>

	<h2>Find a course by id:</h2>
	<form action="#" th:action="@{/findCourseById}" th:object="${course}" method="post">
		<table>
			<tr>
				<td>Id:</td>
				<td><input type="text" th:field="*{courseId}" /></td>
			</tr>
		</table>
		<input type="submit" value="Find" />
		  <div>
		   <span style="color:red" th:errors="*{courseId}"> </span>      
  	     </div>
	</form>
	
	<br/>
	
	<h2>Find a course by title:</h2>
	<form action="#" th:action="@{/findCourseByTitle}" th:object="${course}" method="post">
		<table>
			<tr>
				<td>Short Title:</td>
				<td><input type="text" th:field="*{shortTitle}" /></td>
				
			</tr>
		</table>
		<input type="submit" value="Find" />
		 <div>
		   <span style="color:red" th:errors="*{shortTitle}"> </span>      
  	     </div>
	</form> 
	
	<br/>
	<form action="#" th:action="@{/backToWelcome}" method="get">
		<span style="margin-left: 295px"><input type="submit" th:value="Back" /></span>
	</form>
	
</body>
</html>